<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base-stylesheet.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
        </style>
    <title>ROCK	&#129704; PAPER &#129531; SCISSORS 	
        &#9986;</title>
</head>
<body>
    <heading class="logo">
        <hr>
        <h1>
            ROCK + PAPER + SCISSORS 	
        </h1>
        <hr>
    </heading>

        {% block content %}

        {% endblock %}
</body>
</html>