{% extends "base.html" %}

{% block content %}

    <section>
        <h2>How to Play!</h2>
            <p>Explanation of the game
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sed explicabo libero ut velit inventore quod quos, hic magni consequatur molestias, nihil soluta ex tempore similique reprehenderit minus nostrum placeat.
            </p>
    </section>

    <section>
        <h2>Game Type</h2>
        <button id="multiplayer">
            <a href="/startgame">Multiplayer</a>
        </button>
        <button id ="play against the computer">Play against the computer!</button>
    </section>


{% endblock %}
